.details-title {
  margin: 16px auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
}

.details p {
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.field-value {
  font-size: 18px;
  font-weight: 700;
}
