form {
  width: 450px;
  padding: 20px;
  margin: 0 auto;
}

.search-name-input {
  width: 270px;
  font: inherit;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 3px 3px 0 0;
  background: white;
  padding: 0.15rem 0.25rem;
  margin-right: 20px;
  transition: border-color 0.1s ease-out;
}

.search-name-input:focus {
  border-color: #0048cf;
  outline: none;
}

.form-button {
  font: inherit;
  border: 1px solid #0048cf;
  background: #0048cf;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.form-button:focus {
  outline: none;
}

.form-button:hover,
.form-button:active {
  background: #0048cf;
  border-color: #0048cf;
  box-shadow: 1px 1px 8px rgba(77, 51, 51, 0.26);
}
