header {
  position: fixed;
  width: 100%;
  background: #f1f1f1;
  top: 0;
  left: 0;
  height: 60px;
  border-bottom: 2px solid #ccc;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.link-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}

.link-item {
  padding: 10px;
  box-sizing: border-box;
  display: block;
  width: 160px;
}

.link-item a {
  color: #1555b6;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  box-sizing: border-box;
  display: block;
  transition: all 0.3s ease-in-out;
}

.link-item a:hover,
.link-item a:active,
.link-item a.active {
  color: #d13456;
}
